# Node.js (React) related
node_modules/
build/

# Python (Django) related
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
env/
*.env

venv/
blogenv/

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

blog_platform/blogenv/

